* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: caption;
    font-size: 10pt;
}

body {
    background-color: var(--box-background);
    padding: 15px 5px;
}

.box {
    position: relative;
    padding: 15px;
    border: 1px solid var(--box-border-color);
    border-radius: 3px;
    color: var(--text-color);
}

.label {
    position: absolute;
    color: var(--text-color);
    top: -10px;
    left: 10px;
    background-color: var(--box-background);
    padding: 0 5px;
}

.color-button {
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background);
    border-radius: 3px;
    width: 40px;
    height: var(--button-height);
    box-sizing: content-box;
}

.color-button:hover {
    border-color: var(--button-border-color-hover);
    background-color: var(--button-background-hover);
}

.color-button:hover:active {
    border-color: var(--button-border-color-active);
    background-color: var(--button-background-active);
}

.color-button input[type="color"] {
    background: none;
    border: 5px solid transparent;
    width: 100%;
    height: 100%;
}

.appearance-row {
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 25px;
    align-items: center;
    justify-content: start;
}

.appearance-row.disabled {
    opacity: 0.5;
}

.appearance-row.disabled .color-button,
.appearance-row.disabled .color-button:hover,
.appearance-row.disabled .color-button:hover:active {
    background-color: var(--button-background);
    border-color: var(--button-border-color);
}

.color-input {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 5px;
}

div.hspacer {
    height: 10px;
}

.row {
    padding: 5px 0;
}

/* Default: light theme */
:root {
    --box-background: #fff;
    --box-border-color: #d7d7db;
    --text-color: rgb(21, 20, 26);
    --button-background: rgba(12, 12, 13, 0.1);
    --button-background-hover: rgba(12, 12, 13, 0.2);
    --button-background-active: rgba(12, 12, 13, 0.3);
    --button-border-color: color-mix(in srgb, currentColor 9%, transparent);
    --button-border-color-hover: color-mix(in srgb, currentColor 17%, transparent);
    --button-border-color-active: var(--button-border-color-hover);
    --button-height: 25px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --box-background: rgb(35, 34, 43);
        --box-border-color: rgba(249,249,250,0.2);
        --text-color: rgb(251,251,254);
        --button-background: rgba(249, 249, 250, 0.1);
        --button-background-hover: rgba(249, 249, 250, 0.15);
        --button-background-active: rgba(249, 249, 250, 0.2);
    }
}